- if blob.representable?
  = link_to url_for(blob), title: 'Click para ver imagen completa', target: '_blank', class: 'block w-full' do
    = image_tag blob.representation(resize_to_limit: [600, 600]), class: 'h-auto w-full rounded-lg'