%div{ data: { controller: 'simple-modal'} }
  .py-12.bg-gray-700.transition.duration-150.ease-in-out.z-10.absolute.top-0.right-0.bottom-0.left-0.hidden.transition{ data: { 'simple-modal-target': 'modal' } }
    .container.mx-auto.max-w-lg{class: "w-11/12 md:w-2/3", role: "alert"}
      .relative.py-8.px-5.md:px-10.bg-white.shadow-md.rounded.border.border-gray-400

        -# -------------------------------------------------HEADER-------------------------------
        %h1.text-gray-800.font-lg.font-bold.tracking-normal.leading-tight.mb-4= title

        -# ------------------------------------------------------CONTENT-------------------------------
       

        = yield



        -# ----------------------------------------------------ENDCONTENT-------------------------------

        -# ----------------------------------------------Xbotton----------------------------------------------
        %button.cursor-pointer.absolute.top-0.right-0.mt-4.mr-5.text-gray-400.hover:text-gray-600.transition.duration-150.ease-in-out.rounded.focus:ring-2.focus:outline-none.focus:ring-gray-600{"aria-label": "close modal", role: "button", data: { action: 'click->simple-modal#handler'} }
          %svg.icon.icon-tabler.icon-tabler-x{:fill => "none", :height => "20", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2.5", :viewbox => "0 0 24 24", :width => "20", :xmlns => "http://www.w3.org/2000/svg"}
            %path{:d => "M0 0h24v24H0z", :stroke => "none"}
            %line{:x1 => "18", :x2 => "6", :y1 => "6", :y2 => "18"}
            %line{:x1 => "6", :x2 => "18", :y1 => "6", :y2 => "18"}


  -# -------------------------------------------HANDLER----------------------------------
  %button{class: button_handler[:classes], data: { action: 'click->simple-modal#handler'} }= button_handler[:text]