.fixed.top-0.left-0.right-0.z-50.hidden.w-full.p-4.overflow-x-hidden.overflow-y-auto.md:inset-0.h-modal.md:h-full{
	id: 'modules_modal',
	data: { 'modal-module-target': 'modal' }
}
	.relative.w-auto.h-full.max-w-2xl.md:h-auto
		/ Modal content
		.relative.bg-white.rounded-lg.shadow
			/ Modal header
			.flex.items-start.justify-between.p-4.border-b.rounded-t
				%h3.text-xl.font-semibold.text-gray-900
					Agregar Recurso
				%button.text-gray-400.bg-transparent.hover:bg-gray-200.hover:text-gray-900.rounded-lg.text-sm.ml-auto.inline-flex.items-center{class: "p-1.5", type: "button", data: { action: 'click->modal-module#close' } }
					%svg.w-5.h-5{"aria-hidden" => "true", fill: "currentColor", viewbox: "0 0 20 20", xmlns: "http://www.w3.org/2000/svg"}
						%path{"clip-rule" => "evenodd", d: "M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z", "fill-rule" => "evenodd"}
					%span.sr-only Close modal

			/ Modal body
			.p-6.space-y-6


				%ul.flex.flex-col.items-start.gap-4
					%li.w-full
						= link_to '#',
						 class: 'flex justify-start items-center gap-4 p-4 bg-purple-600 hover:bg-purple-800 text-white rounded-md', title: 'Agregar Pagina', data: { 'modal-module-target': 'linkPage' } do
							%i.fa-regular.fa-file-lines.text-xl
							%span.text-xl Agregar Pagina

					%li.w-full
						= link_to '#',
						 class: 'flex justify-start items-center gap-4 p-4 bg-rose-600 hover:bg-rose-800 text-white rounded-md', title: 'Agregar Cuestionario', data: { 'modal-module-target': 'linkQuiz' } do 
							%i.fa-solid.fa-file-pen.text-xl
							%span.text-xl Agregar Cuestionario