.mb-4
	= render 'shared/header_simple', text: 'Editar Pagina', url: admins_course_path(@page.course_id)

.w-full.flex.justify-center
	.w-full{ class: 'md:w-3/4' }
		= render 'form', model: @page, url: admins_courses_modules_page_path(@page)