.mb-4
	= render 'shared/header_simple', text: 'Crear Pagina', url: admins_course_path(@section.course_id)

%div{ class: 'w-full flex justify-center' }
	%div{ class: 'w-3/4' }
		= render 'form', model: @page, url: admins_courses_modules_section_pages_path(@section)
