= form_with(model: model) do |f|
	= render 'shared/form_errors', model: model.last
	
	.relative.z-0.w-full.flex.items-end.gap-1
		= f.text_field :title,
		 class: "block px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-nonefocus:outline-none focus:ring-0 focus:border-purple-600 peer py-2.5 placeholder:text-purple-500",
		 title: 'Titulo de la seccion',
		 placeholder: 'Titulo'

		%button{ type: 'submit', class: 'text-purple-800 text-2xl', title: 'Crear Seccion' }
			%i.fa-solid.fa-square-plus