= form_with(model: model) do |f|
	- if @section.errors.any?
		.flex.p-4.mb-4.text-sm.text-red-700.bg-red-100.rounded-lg{role: "alert"}
			%svg.flex-shrink-0.inline.w-5.h-5.mr-3{"aria-hidden" => "true", fill: "currentColor", viewbox: "0 0 20 20", xmlns: "http://www.w3.org/2000/svg"}
				%path{"clip-rule" => "evenodd", d: "M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z", "fill-rule" => "evenodd"}
			%span.sr-only Peligro
			%div
				%span.font-medium Hay problemas que impiden registrar la seccion:
				%ul.ml-4.list-disc.list-inside{class: "mt-1.5"}
					- @section.errors.each do |error|
						%li= error.full_message

	.relative.z-0.w-full.flex.items-end.gap-1
		= f.text_field :title,
		 class: "block px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-nonefocus:outline-none focus:ring-0 focus:border-purple-600 peer py-2.5 placeholder:text-purple-500",
		 title: 'Titulo de la seccion',
		 placeholder: 'Titulo'

		%button{ type: 'submit', class: 'text-purple-800 text-2xl', title: 'Crear Seccion' }
			%i.fa-solid.fa-square-plus