.flex.items-center.justify-start
	- if model.is_a?(ModulePage)
		.p-4.rounded.bg-purple-700.text-white
			%i.fa-regular.fa-file-lines.text-3xl

		.flex.flex-start.m-4
			.flex.flex-col
				.flex.items-baseline
					= link_to url,
					 class: 'text-sm font-bold text-purple-600 hover:text-purple-700', 
					 title: 'Regresar' do
						%i.fa-solid.fa-arrow-right-from-bracket

					%span.text-xs.font-mono PAGINA
				%h5.font-bold.text-xl= model.title
		%hr.border-black

	- else
		.p-4.rounded.bg-rose-700.text-white
			%i.fa-solid.fa-file-pen.text-3xl
		.flex.flex-start.m-4

			.flex.flex-col
				.flex.items-baseline
					= link_to url,
					 class: 'text-sm font-bold text-purple-600 hover:text-purple-700', 
					 title: 'Regresar' do
						%i.fa-solid.fa-arrow-right-from-bracket

					%span.text-xs.font-mono CUESTIONARIO
					
				%h5.font-bold.text-xl= model.title

%hr.border-black