.flex.items-center.justify-start.gap-6
	= link_to :back,
	 class: 'text-3xl font-bold text-purple-600 hover:text-purple-700', 
	 title: 'Regresar' do
		%i.fa-solid.fa-arrow-right-from-bracket

	%h1.text-3xl.font-mono= text
%hr.border.border-black