.w-full
  .flex.flex-col.my-4.space-between
    %h1.font-bold.text-4xl Cursos
    %div
      = link_to 'Crear Curso', new_admins_course_path, class: 'rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer', data: { turbo_frame: dom_id(Course.new) }
  %hr.border.border-black
  .my-4
    = turbo_frame_tag dom_id(Course.new)
    
  #courses.min-w-full.grid.grid-cols-1.md:grid-cols-3.lg:grid-cols-4.gap-4
    - @courses.each do |course|
      .p-12.bg-purple-200.rounded.flex.flex-col.hover:bg-purple-400
        = link_to course.name, admins_course_path(course), class: 'text-purple-600 hover:underline hover:text-purple-800 text-center'