.w-full
  .flex.justify-between.items-center
    %h1.font-bold.text-4xl Mis Cursos
  .min-w-full.grid.grid-col-2.md:grid-col-3.lg:grid-col-4.gap-4
    - @courses.each do |course|
      .p-12.bg-purple-200.rounded.flex.flex-col
        = link_to course.name, students_course_path(course), class: 'text-purple-600 hover:underline hover:text-purple-800'