.mb-4
	= render 'shared/header_simple', text: 'Registrar Pregunta', url: admins_courses_modules_quiz_path(@question.module_quiz_id)
	
.mx-auto.w-full{:class => "md:w-2/3"}
	= render 'form', model: @question, url: admins_courses_modules_quiz_questions_path(@quiz)