.mb-4
	= render 'shared/header_simple', text: 'Editar Cuestionario', url: admins_course_path(@quiz.course_id)

%div{ class: 'w-full flex justify-center' }
	%div{ class: 'w-3/4' }
		= render 'form', model: @quiz, url: admins_courses_modules_quiz_path(@quiz)