.my-4
	= build_accordion(title: section.title, h_classes: 'bg-purple-800 text-white text-bold') do
		.flex.flex-col.gap-4.m-4

			%div{ class: 'flex flex-col gap-4'}
				= render partial: 'students/courses/modules/course_modules/course_module', collection: section.course_modules, as: :course_module